[access]
	inheritFrom = All-Projects
[project]
	description = Vendor Tree for Whyred
[access "refs/*"]
	owner = group user/Ritzz (riteshm321)
[access "refs/for/refs/*"]
	read = group user/Ritzz (riteshm321)
	push = group user/Ritzz (riteshm321)
	label-Code-Review = -2..+2 group user/Ritzz (riteshm321)
	label-Verified = -1..+1 group user/Ritzz (riteshm321)
	rebase = group user/Ritzz (riteshm321)
	removeReviewer = group user/Ritzz (riteshm321)
	submit = group user/Ritzz (riteshm321)
[access "refs/heads/*"]
	read = group user/Ritzz (riteshm321)
	create = group user/Ritzz (riteshm321)
	push = +force group user/Ritzz (riteshm321)
	pushMerge = group user/Ritzz (riteshm321)
[access "refs/tags/*"]
	push = group user/Ritzz (riteshm321)
	push = +force group user/Ritzz (riteshm321)
